#(Ex1)

###Check if a name is a palindrome!

Definition: a word, phrase, or sequence that reads the same backward as forward, e.g., madam

1. Ask the user to input a name and store it in a variable. Make sure to use the lower() function to generalize the input. More details in the lecture video!
2. Check the 'type' of 'name'.
3. Your code has to reverse the 'name' and check if it is same as the original 'name'. You should NOT do this manually.

##Hint: Try indexing the second element in 'name'. If you can do this, check if you can iterate over the 'name' you provided!

In [2]:
name = input("Enter your name : ").lower()

Enter your name : Divyansh

In [3]:
type(name)

str

In [4]:
name1 = name[::-1]

In [5]:
print(name1)

hsnayvid

In [6]:
if name == name1:
  print("Palindrome")
else:
  print("Not Palindrome")

Not Palindrome

#(Ex2)

###Fibonacci sequence generator:

A fibonacci sequence is a set of numbers where the next number in the set is found by adding the two numbers before it.

Here's an example sequence:

0, 1, 1, 2, 3, 5, 8, 13, 21...

This sequence can go on forever! So, if the user asks for the first 10 numbers in this sequence, your code should provide only the first 10 numbers of this sequence.

For more info: https://www.mathsisfun.com/numbers/fibonacci-sequence.html

1. First, initialize an empty 'list' to store the sequence
2. Since this sequence always starts with 0, 1 as the first two numbers, store these two numbers in two separate 'variables'.
3. For a given length of the sequence (from the user, AKA you) make sure your loop returns the fibonacci sequence.
4. Use the lecture video to learn more about for loops!

##Hint: This will take some time to understand and implement. It all depends on your understanding of how the for() loop works! Consider working in groups!

In [7]:
# Your code here:
count = 0
num = 1
fibo = []
for i in range(10):
  count = count + num
  fibo.append(count)

In [8]:
count

10

In [9]:
fibo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
count = 0
num = 1

In [11]:
num

1

In [12]:
count

0

In [13]:
count = num
num += 1

In [14]:
count

1

In [15]:
num

2

In [18]:
n = 10
num1 = 0
num2 = 1
next_number = num2
count = 1

while count < n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55