
# Day 1 Exercise:

##(Ex1)
##Description:
Create a program that prompts the user to enter the following information about a student:

Student's name

Student's age

Student's grade

The program should then display(print) this information in a user friendly manner.

##Hint:
There is an 'in-built' function that takes your 'input'. If you're stuck, the lecture video will help!

In [1]:
name = input("Enter your name: ")
age = input("Enter your age: ")
grade = input("Enter your grade: ")

print("Name: ", name)
print("Age: ", age)
print("Grade: ", grade)

Enter your name: Divyansh
Enter your age: 21
Enter your grade: 2
Name:  Divyansh
Age:  21
Grade:  2

##(Ex2)

##Description:
Check the datatype of name, age and grade using the in-built type() function.

Then, if the data type of age and grade is 'str' (which means string/character), change it to the data type 'int'

###Hint:
Check for 'in-built functions'. If you're stuck, the lecture video will help!

In [4]:
type(age)

str

In [5]:
type(grade)

str

In [6]:
age = int(age)
grade = float(grade)

In [7]:
type(age)

int

In [8]:
type(grade)

float

##(Ex3)

##Description:


1.   Create a list of 5 numbers. Call it any variable [Ex: a, number, my_list etc.]. Do not call it 'list'. IF you want to know why, test it out for yourself!
2.   Display the first three numbers of the list. Use the 'slicing method'. Do not print directly. If you're stuck, the lecture video will help!
3.   Store these three numbers in another list and 'append' more two more numbers to this new list. If you're stuck, the lecture video will help!

In [9]:
number = [1, 2, 3, 4, 5]
print(number[0:3])

[1, 2, 3]

In [15]:
number1 = [1, 2, 3]
number1.append(4)
number1.append(5)
print(number1)

[1, 2, 3, 4, 5]

##(Ex4)

##Description:
This will bring everything from day 1 together.



1.   Create an empty dictionary. Call it anything but 'dict'. If you're curious, you can check why.
2.   In your dictionary, create a 'key' called 'Course' and ask the user (you) to input a course name.
3.   Add another 'key' to your dictionary called 'grade' and ask the user to input the grade.
4.   If you haven't noticed yet, check the datatype of 'grade'. You put in a number but it is a string. So, convert it to an integer or float datatype.

##Hint:
If you're stuck, the lecture video will help for this problem!

Changing the datatype and 'replacing' the value of grade can happen in two steps.

In [16]:
dictionary = {}

In [18]:
type(dictionary)

dict

In [22]:
dictionary['Course'] = input("Enter a course name: ")
dictionary['grade'] = int(input("Enter your grade: "))

Enter a course name: Divyansh
Enter your grade: 3

In [23]:
print(dictionary)

{'Course': 'Divyansh', 'grade': 3}